body {
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#scoreContainer{
    font-size:100px;
    font-family: 'Poppins';
    font-weight:bold;
    
}