#Intro{
    margin-left:20px;
    margin-top:10px;
    font-size: 80px;
    width:50%;
    color:black;
    padding:10px;
    background-color: aqua;
    border-radius:15px;
}
#Start{
    margin-left: 150px;
    margin-top: 0px;
    color:black;
    background-color: aqua;
    font-size: 80px;
    cursor: pointer;
    border-radius:20px;
}
html{
    height:100%;
}
p{
    width:30%;
    padding:10px;
    margin-left:20px;
    font-size:30px;
    background-color:aquamarine
}
body{
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
}