
body {
    margin: 0;
    padding: 0;
}

.top {
    position:relative;
    height: 60vh; 
    background: url('gun1.jpg') no-repeat center center;
    background-size:100%;
}

.bottom {
    height: 40vh; 
    background: linear-gradient(to left, #0000ff, #00ffff);
}

#scoreContainer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    color: #333;
  }

#qn{
    margin:20px;
    color:blue;
    font-size: 70px;
    font-weight:bold;
    position: absolute;
    bottom: 0; left: 0;
}
.popup1 {
    display: none; 
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 50vh; 
    background-color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    z-index: 1000; 
    display: flex; 
    align-items: center; 

}

.overlay1{display:none;}

#msg1 {
    margin-top:0px;
    margin-left: 80px;
    font-size: 100px;

}
.popup2 {
    display: none; 
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 50vh; 
    background-color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    z-index: 1000; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.overlay2{display:none;}

.close-btn {
    background-color: aqua;
    font-size:40px;
    color: white;
    border: none;
    margin-top: 0px;
    margin-left: 530px;
    padding: 50px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align:center;
    position:relative;
    z-index: 2000000;
}
#msg2 {
    top:0;
    margin-top:0px;
    margin-left: 80px;
    font-size: 100px;

}
#Option1 {
    font-size:60px;
    margin:30px;
    margin-left:300px;
    background-color: aqua;
    color:black;
    font-family: 'Poppins';
    cursor: pointer;
    border-radius:10px;
}

#correctAnswer {
    font-size:60px;
    background-color: aqua;
    margin-left:250px;
    cursor: pointer;
    font-family: 'Poppins';
    border-radius:10px;
}
#Option3 {
    font-size:60px;
    background-color: aqua;
    margin:30px;
    margin-left:300px;
    cursor: pointer;
    font-family: 'Poppins';
    border-radius:10px;
}
#Option4 {
    font-size:60px;
    background-color: aqua;
    margin:30px;
    margin-left:300px;
    cursor: pointer;
    font-family: 'Poppins';
    border-radius:10px;
}