html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 60% 40%; /* 60% for .top and 40% for .bottom */
    height: 100%; /* Full viewport height */
}

.left {
    background: url('ranklogo.jpg') no-repeat center center;
    background-size: cover; /* Scale background to cover area */
}

.right {
    background-color: gold; /* Background color for visibility */
}


#scoreContainer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    color: #333;
  }

#qn{
    margin: 20px;
    color: darkorchid;
    font-size: 70px;

}
.popup1 {
    display: none;
    position: fixed; 
    bottom:0;
    left: 0;
    width: 55%; /* Full width of the screen */
    height: 100vh; 
    background-color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /* Shadow at the top */
    padding: 20px;
    z-index: 1000; /* Ensure it appears on top */
    display: flex; /* Flexbox for aligning content */
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Space between text and button */
}

.overlay1{
    position:fixed;
    display:none;}

#msg1 {
    top:0;
    margin-left: 80px;
    font-size: 100px;

}
.popup2 {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed at the bottom */
    bottom: 0; /* Align to the bottom */
    left: 0;
    width: 55%; /* Full width of the screen */
    height: 100vh; /* 40% of the viewport height */
    background-color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /* Shadow at the top */
    padding: 20px;
    z-index: 1000; /* Ensure it appears on top */
    display: flex; /* Flexbox for aligning content */
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Space between text and button */
}

.overlay2{
    position:fixed;display:none;}

.close-btn {
    background-color: aqua;
    font-size:60px;
    color: white;
    border: none;
    margin-top: 0px;
    margin-left: 100px;
    padding: 50px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align:center;
    position:relative;
    z-index: 2000000;
}
#msg2 {
    top:0;
    margin-left: 80px;
    font-size: 100px;

}
#correctAnswer {
    font-size:60px;
    margin:30px;

    background-color: darkorchid;
    color:black;
    font-family: 'Poppins';
    cursor: pointer;
}

#Option2 {
    font-size:60px;
    background-color: darkorchid;

    cursor: pointer;
    font-family: 'Poppins'
}
#Option3 {
    font-size:60px;
    background-color: darkorchid;
    margin:30px;

    cursor: pointer;
    font-family: 'Poppins'
}
#Option4 {
    font-size:60px;
    background-color: darkorchid;
    margin:30px;

    cursor: pointer;
    font-family: 'Poppins'
}