html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 60% 40%; 
    height: 100%; 
}

.left {
    background: url('map.png') no-repeat center center;
    background-size: cover;
    background-size:90%;
}

.right {
    background: linear-gradient(to bottom, #001f3f, #004d4d); 
}


#scoreContainer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    color: #333;
  }

#qn{
    margin: 20px;
    color: darkorchid;
    font-size: 50px;
    font-weight: bold;

}
.popup1 {
    display: none;
    position: fixed; 
    bottom:0;
    left: 0;
    width: 55%; 
    height: 100vh; 
    background-color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    z-index: 2000; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.overlay1{
    position:fixed;
    z-index:1000;
    display:none;}

#msg1 {
    top:0;
    margin-left: 80px;
    font-size: 100px;

}
.popup2 {
    display: none; 
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 55%; 
    height: 100vh; 
    background-color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 2000; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.overlay2{
    position:fixed;
    display:none;
    z-index: 1000;
}

.close-btn {
    background-color: aqua;
    font-size:60px;
    color: white;
    border: none;
    margin-top: 0px;
    margin-left: 100px;
    padding: 50px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align:center;
    position:relative;
    z-index: 200000;
}
#msg2 {
    top:0;
    margin-left: 80px;
    font-size: 100px;

}
#correctAnswer {
    
    font-size:40px;
    margin:30px;
    margin-left:100px;

    background-color: darkorchid;
    color:black;
    font-family: 'Poppins';
    cursor: pointer;
    border-radius:10px;
}

#Option2 {
    font-size:40px;
    background-color: darkorchid;
    margin-left:25px;
    cursor: pointer;
    font-family: 'Poppins';
    border-radius:10px;
}
#Option1 {
    font-size:40px;
    background-color: darkorchid;
    margin:30px;
    margin-left:100px;

    cursor: pointer;
    font-family: 'Poppins';
    border-radius:10px;
}
#Option4 {
    font-size:40px;
    background-color: darkorchid;
    margin:30px;

    cursor: pointer;
    font-family: 'Poppins';
    border-radius:10px;
}